/* Style the video: 100% width and height to cover the entire window */

#MyVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}


/*Contenedor con fondo transparente gris */

.content {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 98%;
    height: 100%;
    border-top: 0;
    /*Flexbox*/
    display: flex;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 800px) {
    .Presentacion {
        text-align: center;
        width: 380px;
        height: 100%;
        padding: 0px 30px;
        margin: 0px 50px;
        background: linear-gradient(180deg, rgba(227, 203, 123, 0.58) 4.17%, rgba(227, 203, 123, 0) 100%);
        filter: drop-shadow(1px 2px 15px rgba(0, 0, 0, 0.15));
    }
    .JuliaImg {
        width: 150px;
        height: 150px;
        padding-top: 20%;
    }
    .JuliaRusuFont {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 37px;
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .LevelGold {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-align: right;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .idiomas {
        display: flex;
        align-content: center;
        justify-content: center;
    }
    .yellow {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        text-transform: uppercase;
        color: #CBB66F;
        margin: auto 0px;
    }
    .fechaHora {
        margin: 20% auto;
    }
    .hora {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        text-align: center;
        color: #FFFFFF;
        display: block;
    }
    .dia {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        /* or 150% */
        text-align: center;
        letter-spacing: 0.1em;
        color: #FFFFFF;
    }
    /*Grid de botones */
    .iconos div {
        background-image: url("circulo.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100px;
        height: 100px;
        margin: 10px;
        text-align: center;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #E3CB7B;
    }
    #myBtn:hover {
        background: #ddd;
        color: black;
        border-radius: 50%;
        border: solid rgb(223, 33, 33) 5px;
    }
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .Presentacion {
        margin: auto;
        text-align: center;
        width: 100%;
        background: linear-gradient(180deg, rgba(227, 203, 123, 0.58) 4.17%, rgba(227, 203, 123, 0) 100%);
        filter: drop-shadow(1px 2px 15px rgba(0, 0, 0, 0.15));
        border-radius: 55px;
    }
}